* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none; }

html {
  font-size: 62.5%; }

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #777;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #eb2f64, #ba265d);
  overflow-x: hidden; }

.container {
  display: flex;
  flex-direction: column;
  margin: 8rem auto;
  max-width: 120rem;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 7rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2; }
  .header .logo-container {
    height: 3.75rem;
    padding: 0 2rem; }
    .header .logo-container .logo {
      height: 100%; }
  .header .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0 0 40%; }
    .header .searchbar__input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: #f4f2f2;
      outline: none;
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: 0.15s;
      margin-right: -3.25rem; }
      .header .searchbar__input::placeholder {
        font-weight: 100;
        color: #ccc; }
      .header .searchbar__input:focus {
        width: 100%;
        background-color: #f0eeee; }
    .header .searchbar__button {
      height: 2.25rem;
      width: 2.25rem;
      background-color: #f4f2f2;
      border: none;
      outline: none;
      cursor: pointer; }
      .header .searchbar__button svg {
        fill: #999; }
  .header .navbar {
    display: flex;
    align-items: center;
    height: 100%; }
    .header .navbar__bookmarks {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.15s;
      height: 100%;
      position: relative;
      padding: 0px 2rem; }
      .header .navbar__bookmarks:hover {
        background-color: #f4f2f2; }
      .header .navbar__bookmarks-notification {
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: inline-block;
        background-color: #eb2f64;
        font-size: 0.8rem;
        color: #fff;
        border-radius: 50%;
        font-weight: 100;
        width: 1.75rem;
        height: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold; }
      .header .navbar__bookmarks svg {
        width: 2.25rem;
        height: 2.25rem;
        fill: #777; }
    .header .navbar__chat {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 2rem;
      height: 100%;
      cursor: pointer;
      transition: 0.15s;
      position: relative; }
      .header .navbar__chat:hover {
        background-color: #f4f2f2; }
      .header .navbar__chat-notification {
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: inline-block;
        background-color: #eb2f64;
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        color: #fff;
        border-radius: 50%;
        font-weight: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold; }
      .header .navbar__chat svg {
        width: 2.25rem;
        height: 2.25rem;
        fill: #777; }
    .header .navbar__user-container {
      display: flex;
      transition: 0.15s;
      align-items: center;
      height: 100%;
      gap: 10px;
      padding: 0 2rem;
      cursor: pointer; }
      .header .navbar__user-container:hover {
        background-color: #f4f2f2; }
    .header .navbar__user-photo {
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 50%; }

.content {
  display: flex;
  flex: 1; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  font-size: 1.4rem;
  background-color: #333; }
  .sidebar__navbar {
    margin-top: 3.5rem; }
    .sidebar__navbar li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0.3rem;
      height: 100%;
      background-color: #eb2f64;
      z-index: 0;
      transition: transform 0.2s, width 0.4s 0.2s;
      transition-timing-function: cubic-bezier(1, 0, 0, 1);
      transform: scaleY(0);
      z-index: 1; }
    .sidebar__navbar li:active::before {
      background-color: #ff3366; }
    .sidebar__navbar li:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar__navbar li {
      display: flex;
      align-items: center;
      color: #faf9f9;
      padding: 1.5rem 3rem;
      text-transform: uppercase;
      cursor: pointer;
      position: relative; }
      .sidebar__navbar li:not(:last-child) {
        margin-bottom: 0.5rem; }
      .sidebar__navbar li span {
        z-index: 2; }
      .sidebar__navbar li svg {
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;
        z-index: 2; }
  .sidebar__legal-text {
    font-size: 1.2rem;
    color: #ccc;
    text-align: center;
    padding: 2.5rem; }
  .sidebar--active {
    background-color: #eb2f64; }

.hotel-view {
  flex: 1;
  background-color: #fff; }
  .hotel-view__gallery {
    display: flex; }
  .hotel-view__image {
    display: block;
    width: 33.333%; }
  .hotel-view__overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f2f2; }
  .hotel-view__header {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .hotel-view__starts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto; }
    .hotel-view__starts svg {
      width: 1.75rem;
      height: 1.75rem;
      fill: #eb2f64; }
  .hotel-view__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem; }
    .hotel-view__location svg {
      width: 1.75rem;
      height: 1.75rem;
      fill: #eb2f64;
      margin-right: 0.5rem; }
  .hotel-view__rating {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    padding: 0 2.25rem;
    margin-left: 3.5rem;
    color: #fff;
    background-color: #eb2f64; }
    .hotel-view__rating span:nth-child(1) {
      font-size: 2.25rem;
      font-weight: 300; }
    .hotel-view__rating span:last-child {
      font-size: 0.8rem; }
  .hotel-view__detail {
    display: flex;
    padding: 4.5rem;
    background-color: #faf9f9;
    border-bottom: 1px solid #f4f2f2; }
  .hotel-view__desc {
    flex: 0 0 60%;
    font-size: 1.4rem;
    padding: 3rem;
    margin-right: 4.5rem;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
    .hotel-view__desc .recommend {
      font-size: 1.3rem;
      color: #999;
      display: flex;
      align-items: center; }
      .hotel-view__desc .recommend p {
        margin-right: auto; }
      .hotel-view__desc .recommend img {
        box-sizing: content-box;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 3px solid #fff; }
        .hotel-view__desc .recommend img:not(:last-child) {
          margin-right: -1.5rem; }
    .hotel-view__desc ul {
      margin: 3rem 0;
      padding: 3rem;
      border-top: 1px solid #f4f2f2;
      border-bottom: 1px solid #f4f2f2;
      display: flex;
      flex-wrap: wrap; }
      .hotel-view__desc ul li {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;
        display: flex;
        align-items: center; }
        .hotel-view__desc ul li::before {
          content: "";
          display: inline-block;
          height: 1rem;
          margin-right: 0.7rem;
          width: 1rem;
          background-color: #eb2f64;
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/chevron-thin-right.svg);
          mask-size: cover; }
    .hotel-view__desc p span {
      margin-top: 2rem;
      display: inline-block; }
  .hotel-view__user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column; }
    .hotel-view__user-reviews .review__btn {
      font-size: 1.4rem;
      color: #eb2f64;
      display: inline-block;
      margin: 0 auto; }
      .hotel-view__user-reviews .review__btn span {
        margin-left: 3px;
        transition: 0.2s; }
      .hotel-view__user-reviews .review__btn:hover span {
        margin-left: 8px; }
    .hotel-view__user-reviews .review-box {
      background-color: #fff;
      padding: 3rem;
      margin-bottom: 3.5rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
      position: relative;
      overflow: hidden; }
      .hotel-view__user-reviews .review-box__text {
        z-index: 2;
        position: relative;
        margin-bottom: 2rem;
        font-size: 1.4rem; }
      .hotel-view__user-reviews .review-box::before {
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-size: 20rem;
        color: #f4f2f2;
        font-family: sans-serif;
        line-height: 1;
        z-index: 1; }
      .hotel-view__user-reviews .review-box__user {
        display: flex;
        align-items: center; }
        .hotel-view__user-reviews .review-box__user-photo-container {
          width: 4.5rem;
          height: 4.5rem;
          margin-right: 1.5rem; }
          .hotel-view__user-reviews .review-box__user-photo-container img {
            width: 100%;
            height: 100%;
            border-radius: 50%; }
        .hotel-view__user-reviews .review-box__user-name {
          font-size: 1.1rem;
          text-transform: uppercase;
          color: #777;
          font-weight: 600;
          margin-bottom: 0.4rem; }
        .hotel-view__user-reviews .review-box__user-date {
          font-size: 1rem;
          color: #999; }
        .hotel-view__user-reviews .review-box__user-rating {
          margin-left: auto;
          color: #eb2f64;
          font-size: 2.2rem;
          font-weight: 300; }

.btn--inline {
  color: #eb2f64;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  padding-bottom: 2px;
  display: inline-block;
  transition: 0.2s; }
  .btn--inline:hover {
    color: #333; }
  .btn--inline:focus {
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
